@use "_variables" as *

.homePageRedesign
  //
  &--whiteBlock
    position: relative
    z-index: 6
    background-color: transparent
    // @include minTabletLandscape
    //   margin-top: -15%
    // @include phabletToTablet
    //   margin-top: -40px
    // @include maxPhablet
    //   margin-top: -50px
    //   padding-top: 20px
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 50%
      background-color: white
    &-box
      background-color: #fff
      width: 100%
      
      min-height: 525px
      // border: 1px solid #ccc
      border: 0
      display: flex
      align-items: center
      justify-content: center
      flex-flow: column
      border-radius: 30px
      border-radius: 0
      padding: 15px 0
      position: relative
      z-index: 5
      margin: 0 auto
      @media (width >= 1280px)
        min-width: 1180px
      @media (width <= 979px)
        max-width: 100%!important
      @include phabletToTablet
        padding: 20px
        display: block
        min-height: 0
        width: 100%
        max-width: 100%
      @include maxPhablet
        padding: 20px
        display: block
        min-height: 0
      h3, p
        color: #073da3
      h2
        color: #081155
        text-align: center
        font-weight: 600
        width: 100%
        max-width: 800px
        padding: 0 15px
        font-size: 40px
        line-height: 1.2
        padding-bottom: 80px
        margin: 0
        font-weight: bold
        @include phabletToTablet
          font-size: 35px
          padding-bottom: 20px
        @include maxPhablet
          font-size: 30px
          padding-bottom: 30px
        @include maxMobile
          font-size: 28px
          padding-bottom: 30px
        @include maxMobilePortrait
          font-size: 24px
    &-nums
      display: flex
      justify-content: center
      gap: 0 1%
      width: 100%
      max-width: 1024px
      padding: 0 15px
      margin: 0 auto
      @include maxPhablet
        flex-wrap: wrap
        padding: 0 0
        gap: 10px
    &-num
      text-align: center
      width: 30%
      @include maxPhablet
        min-width: 45%
        width: auto
      h3
        font-weight: bold
        font-size: 80px
        @include phabletToTablet
          font-size: 45px
        @include maxPhablet
          font-size: 45px
        @include maxMobile
          font-size: 35px
        @include maxMobilePortrait
          font-size: 30px
      p
        font-size: 25px
        margin: 0
        @include phabletToTablet
          font-size: 18px
          line-height: 1.25
        @include maxPhablet
          font-size: 22px
        @include maxMobile
          font-size: 18px
        @include maxMobilePortrait
          font-size: 15px

  //