@use "_variables" as *
@use "_reset"
@use "_banner"
@use "_blockintro"
@use "_acordeon"
@use "_cta"
@use "_certifications"
@use "_reviews"
@use "_oferta"
@use "_processblock"


h2
  font-weight: bold
  padding: 0 0 40px
  text-align: center
  @include minDesktopSmall
    font-size: 45px

.homePageRedesign

  .container
    @media (width <= 1280px)
      max-width: 1200px
    @media (min-width: 576px) and ( max-width: 1280px)
      max-width: 90%
    @media (width <= 576px)
      max-width: 98%
    
  
  &--areasBlock
    background: #efefef
    padding: 80px 0
    .seeall
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      margin: 50px auto 0
      background: #073DA3
      color: white
      text-decoration: none
      width: 100%
      max-width: 300px
      height: 45px
    &-grid
      display: flex
      flex-wrap: wrap
      justify-content: center
      gap: 30px

    &-area
      width: 100%
      height: 160px
      background: white
      border-radius: 10px
      position: relative
      padding: 0 35px
      box-shadow: 0px 5px 5px 0px rgba(142, 161, 253, 0.3)
      display: flex
      flex-flow: column
      justify-content: center
      @media (width >= 1141px)
        width: 22%
      @media (650px < width < 1141px)
        width: 45%
      .icobg
        position: absolute
        z-index: 1
        font-size: 4.5rem
        right: 20px
        top: 10px
        color: #8EA1FD
      h3, a
        position: relative
        z-index: 3
      h3
        font-weight: bold
        margin: 0 0 20px
        min-height: 70px
        font-size: 22px
        a
          color: #073DA3
          text-decoration: none
      a.lk
        display: flex
        align-items: center
        text-decoration: none
        font-size: 15px
        color: black
        i
          line-height: 1
          display: block
          margin-left: 15px



  &--modalidadesBlock
    padding: 80px 0
    background-color: #fff
    border-top: 1px solid #ddd
    // background-image: url(../images/vecbg.jpg)
    background-position: center center
    background-size: cover
    h2
      color: #081155
    .tabsForDesktop
      .btn-material
        display: flex
        flex-flow: column
        width: 100%
        height: auto
        font-weight: 700
        text-align: left
        color: #fff
        text-decoration: none
        padding: 15px 20px
        border: 1px solid rgba(255, 255, 255, 0)
        border-radius: 2px
        margin-bottom: 5px
        font-size: 16px
        position: relative
        background-color: #081155
        // &::before
        //   content: ""
        //   position: absolute
        //   width: 100%
        //   height: 100%
        //   top: 0
        //   left: 0
        //   background-image: url(../images/vecbg.jpg)
        //   background-position: 100% center
        //   background-size: cover
        //   border-radius: 5px
        //   z-index: 1
        //   opacity: 0
        //   filter: blur(2px)
        // background: rgba(255, 255, 255, 0)
        // background-image: ''
        // transition: all 0.3s ease
        // background-position: center center
        // background-size: cover
        &:hover
          &::before
            opacity: 0.15          
          // background: rgba(255, 255, 255, 0.10)
          // background-image: url(../images/vecbg.jpg)
    
        &.btn-active
          background: #e0125f
          // background-image: url(../images/vecbg.jpg)
          border-color: rgba(255, 255, 255, 0.12)
          &::before
            opacity: 0.75
          span
            color: white
            // filter: blur(5px)
        span
          position: relative
          z-index: 2
          color: #fff
        span.titlebtn
          display: block
          font-size: 1.4em
          font-weight: 700
        span.descbtn
          display: block
          font-size: 1em
          font-weight: normal
          display: none


      .collapse 
        .card
          position: relative
          background-color: transparent
          z-index: 0
          border: 1px solid #dbdbdb
          border-radius: 0px
          &::before
            content: ""
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            background: rgba(255, 255, 255, 0.2)
            // border-radius: 5px
            filter: blur(5px)
            z-index: 2
          article
            position: relative
            z-index: 3
            h4, p, ul, ul li
              color: #333
            h3, h4
              color: #081155
              text-shadow: 0 1px 2px #fff
            h3
              font-weight: 600
              font-size: 2.5rem
              text-align: center